numpy==2.3.5
pandas==3.0.2
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.9
xgboost==3.2.0
shap==0.51.0
umap-learn==0.5.12
hdbscan==0.8.42
joblib==1.5.3
tqdm==4.67.3
tabulate==0.10.0
jupyter==1.1.1
